
<div class="card-product">
  <%= cl_image_tag(@cocktail.photo.key,width: 400, height: 300, crop: :fill) %>
  <h1><%= @cocktail.name.capitalize %></h1>
  <h2>Ingredients:</h2>
  <div class="list">
      <% @cocktail.doses.each do |dose|%>
        <div class="card-product-infos">
          <ul>
            <li>
              <%= dose.description %>
              <strong><%= dose.ingredient.name.capitalize%></strong>
              <%= link_to dose_path(dose), method: :delete, data: {confirm: "Are you sure ?"} do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </li>
          </ul>
        </div>
      <% end %>
  </div>
</div>

<%= link_to "Back to Cocktails", cocktails_path %>
<%= link_to "Add doses", new_cocktail_dose_path(@cocktail.id) %>

